<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.WordMapper">
    <select id="get" parameterType="java.lang.String" resultType="com.demo.entity.Word">
        select * from word where word_id = #{id}
    </select>

    <select id="query" parameterType="java.lang.String" resultType="com.demo.entity.Word">
        select * from word
        <where>
            <if test="content != null and content != ''">
                <bind name="likeStr" value="'%' + content + '%'" />
                content like #{likeStr}
            </if>
        </where>
    </select>

    <insert id="save">
        <selectKey keyProperty="wordId" resultType="java.lang.String" order="BEFORE">
            select UUID()
        </selectKey>
        insert into word (
        <trim suffixOverrides=",">
            <if test="wordId != null and wordId != ''">
                word_id,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="classification != null and classification != ''">
                classification,
            </if>
            <if test="insertTime != null and insertTime != ''">
                insertTime,
            </if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="wordId != null and wordId != ''">
                #{wordId},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="classification != null and classification != ''">
                #{classification},
            </if>
            <if test="insertTime != null and insertTime != ''">
                #{insertTime},
            </if>
        </trim> ) where word_id = #{wordId}
    </insert>

    <update id="update" parameterType="com.demo.entity.Word">
        update word set
        <trim suffixOverrides=",">
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="classification != null and classification != ''">
                classification = #{classification},
            </if>
            <if test="insertTime != null and insertTime != ''">
                insertTime = #{insertTime},
            </if>
        </trim>
        where word_id = #{wordId}
    </update>

    <delete id="delete" parameterType="com.demo.entity.Word">
        delete from word where word_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>